Virtualbox/Win32VBtest/Debug
Virtualbox/Win32VBtest/Win32VBtest.VC.db
Virtualbox/Win32VBtest/.vs/
Virtualbox/Win32VBtest/ReadMe.txt
Virtualbox/sdk/docs
Virtualbox/sdk/installer
Virtualbox/sdk/rdpweb
Virtualbox/Win32VBtest/Win32VBtest.vcxproj.filters
Virtualbox/Win32VBtest/Win32VBtest.vcxproj.user
Virtualbox/sdk/bindings/VirtualBox.xidl
Virtualbox/sdk/bindings/c
Virtualbox/sdk/bindings/glue
Virtualbox/sdk/bindings/mscom/idl
Virtualbox/sdk/bindings/mscom/lib/VirtualBox.tlb
Virtualbox/sdk/bindings/mscom/samples
Virtualbox/sdk/bindings/mscom/vb
Virtualbox/sdk/bindings/mscom/vbs
Virtualbox/sdk/bindings/webservice
Virtualbox/sdk/bindings/xpcom
